body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ecf0f1;
}

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #34495e;
    overflow-x: hidden;
}

.sidebar a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 15px;
    color: #88999c;
    display: block;
    margin-bottom: 15px; /* Встановіть відступ між кнопками 10 пікселів */
}

.sidebar a i {
    margin-right: 10px; /* Відступ справа від значка */
}

.sidebar a:hover {
    background-color: #243342;
}

.main {
    margin-left: 160px;
    font-size: 20px;
    padding: 20px;
}

@media screen and (max-height: 460px) {
    .sidebar {
        padding-top: 15px;
    }
    .sidebar {
        max-width: 100%; /* Максимальна ширина 100% для малих екранів */
    }
    .sidebar a {
        font-size: 16px;
    }
}

.profile-info {
    display: flex;
    align-items: center; /* Вирівнювання по вертикалі */
    padding: 10px; /* Певний відступ для простору */
    background-color: #2ecc71;
    color: #ffffff;
    width:100%;
    font-size: 12px;
}

.profile-picture {
    width: 30px; /* Ширина фото користувача */
    height: 30px; /* Висота фото користувача */
    border-radius: 50%; /* Закруглені кути для кружечка */
    margin-right: 10px; /* Відступ справа від фото */
}
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: white;
    padding: 0px 160px;
    height:50px;
    position: relative;
  }
  
  .icons a,
  .icons i {
    margin-right: 10px;
    color: rgb(64, 62, 62);
    text-decoration: none;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 50px;
    height: 50px;
    margin-left: 500px;
  }
  
  .search-box {
    display: flex;
   align-items: center;
    margin-left: auto;
  }
  
  .search-box input[type="text"] {
    padding: 0px;
    right: 0px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .search-box button {
    background: none;
    border: none;
    cursor: pointer;
  }
  

.panel_2{
    height: 90px;
    margin-left: 160px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #f0f0f0;
    border-radius: 0px;
    cursor: pointer;
}

.profile-picture_2 {
    width: 60px; /* Ширина фото користувача */
    height: 60px; /* Висота фото користувача */
    border-radius: 50%; /* Закруглені кути для кружечка */
    margin-left: 10px; /* Відступ справа від фото */
    margin-bottom: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    margin-left: 15px; /* Відступ справа від фото */
    margin-bottom: 10px;
}
.user-name_2::after {
    content: ' ★★★☆☆'; /* 3 заповнені зірочки, 2 порожні зірочки */
    color: #ff8c00; /* Колір заповнених зірочок (жовтий у цьому випадку) */
}

.user-name_2 {
    margin: 2px 0; /* Відступи між текстовими елементами у стовпчик */
}

.user-category {
    margin: 2px 0;
    font-size: 12px; /* Задає розмір шрифту для категорії (12px у цьому випадку) */
}

.user{
    margin: 2px 0;
    font-size: 12px;  
}

.content-container {
    flex: 1; /* Розмір контенту ростягується, щоб заповнити вільне простір під верхньою панеллю */
    padding: 20px;
  }

  .learn-more {
    margin-left: 10px;
    color: rgb(52, 52, 154);
  }
  
.menu{
    display: flex;
    padding-top: 90px;
    margin-left: -260px;
}

  .menu ul {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .menu ul li {
    margin-right: 20px;
  }
  
  .menu ul li a {
    text-decoration: none;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
  }
  
  .menu ul li a:hover {
    color: #13191e;
  }

  .menu.slider {
    position: absolute;
    height: 5px;
    background-color: #27ae60;
    bottom: 0;
    transition: width 1.3s ease;
  }

  .photos-container {
    display: flex ; 
    margin: 20px; 
    margin-left: 180px;
  }
  
  .photos-container img {
    width: 280px; 
    height: 280px; 
    margin-left: 40px; 
  }

  .photos-container_2 {
    display: flex ; 
    margin: 20px; 
    margin-left: 220px;
  }
  
  .photos-container_2.img {
    width: 250px; 
    height: 220px; 
  }

  .photos-container_2.img {
    width: 600px; 
    height: 220px; 
  }